* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#Home {
  background: linear-gradient(160deg, rgb(164, 238, 180), #274d36);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#Input {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

}


#Input h2 {
  font-family: "Prompt", sans-serif;
  color: rgb(43, 43, 43);
}

#Place {
  font-family: "Nanum Gothic", sans-serif;
  outline: none;
  height: 50px;
  width: 300px;
  border: none;
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(209, 209, 209);
  box-shadow: inset 1px 1px 8px black;
  font-size: medium;

  transition: Background-color ease-in-out 0.3s, box-shadow 2s;


}

#Place:hover {
  background-color: rgb(236, 236, 236);
  box-shadow: 1px 2px 8px black;
}

#Place::placeholder {
  font-style: italic;
}

#Input button {
  border: none;
  border-radius: 10px;
  background: #274d36;
  height: 35px;
  width: 300px;
  margin-top: 10px;
  font-family: "Nanum Gothic", sans-serif;
  font-size: medium;
  font-weight: 600;

  transition: 0.5s;
}

#Input button:hover {
  background: rgb(164, 238, 180);
}

#Input p {
  font-family: "Nanum Gothic", sans-serif;
  color: red;
  font-weight: 600;
  display: none;
}


#Infos {
  display: none;
  gap: 20px;
  flex-direction: column;


}

#Infos h2 {
  font-family: "Prompt", sans-serif;
  color: rgb(43, 43, 43);
}

.Score {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  padding: 15px;
  text-align: center;
  font-family: "Nanum Gothic", sans-serif;
  border-radius: 15px;
  background: linear-gradient(160deg, rgb(164, 238, 180), #274d36);
  box-shadow: 1px 2px 8px black;
}

.Main_score {
  display: flex;
  padding: inherit;
  gap: 15px;
}

.Main_score h3 {
  font-size: xx-large;
}

.PlayerInfos {
  display: flex;
  align-items: center;
  text-align: auto;
  padding: 15px;
  font-family: "Nanum Gothic", sans-serif;
  border-radius: 15px;
  background: linear-gradient(160deg, rgb(164, 238, 180), #274d36);
  box-shadow: 1px 2px 8px black;
}

.Main_playerinfo {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.box {
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
  justify-content: center;
}

.Main_playerinfo hr {
  max-width: 200px;
  min-width: 100px;
}


.flex_one {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: inherit;
  max-width: 180px;
  min-width: 150px;
}



.PlayerInfos ul {
  list-style: none;
  display: flex;
  gap: 20px;
  flex-direction: column;

}