* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#Home {
  background: linear-gradient(160deg, rgb(164, 238, 180), #274d36);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#Input {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

}


#Input h2 {
  font-family: "Prompt", sans-serif;
  color: rgb(43, 43, 43);
}

#Place {
  font-family: "Nanum Gothic", sans-serif;
  outline: none;
  height: 50px;
  width: 300px;
  border: none;
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(209, 209, 209);
  box-shadow: inset 1px 1px 8px black;
  font-size: medium;

  transition: Background-color ease-in-out 0.3s, box-shadow 2s;


}

#Place:hover {
  background-color: rgb(236, 236, 236);
  box-shadow: 1px 2px 8px black;
}

#Place::placeholder {
  font-style: italic;
}

#Input button {
  border: none;
  border-radius: 10px;
  background: #274d36;
  height: 35px;
  width: 300px;
  margin-top: 10px;
  font-family: "Nanum Gothic", sans-serif;
  font-size: medium;
  font-weight: 600;

  transition: 0.5s;
}

#Input button:hover {
  background: rgb(164, 238, 180);
}

#Input p {
  font-family: "Nanum Gothic", sans-serif;
  color: red;
  font-weight: 600;
  display: none;
}